.root {
    -fx-background-color: #F1FCFF;
    -fx-text-fill: #051026;
    -fx-font-family: "Segoe UI";
}

.anchor-pane {
    -fx-pref-width: 1080;
}

.side-panel {
    -fx-background-color: #051026;
    -fx-text-fill: #F1FCFF;
    -fx-padding: 10;
}

.side-panel > .button {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-color: transparent;
}

.side-panel > .button:hover {
    -fx-background-color: #446EA6;
    -fx-cursor: hand;
}

.content-area {
    -fx-padding: 20;
    -fx-background-color: white;
}

.insets-medium {
    -fx-padding: 20;
}

.centered {
    -fx-alignment: CENTER;
}

.section-title {
    -fx-font-size: 24px;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.card {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.form-group {
    -fx-spacing: 5;
}

.form-control {
    -fx-prompt-text-fill: derive(-fx-text-fill, 30%);
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-min-height: 30;
}

.project-control-buttons {

}

.text-area {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.text-area:focused {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}